<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ensueno.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Ensueno"
            connectionString="Data Source=WJAS\SQL_SERVER;Initial Catalog=ENSUENO_2;TrustServerCertificate=true;Integrated Security=True"
            providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <ensueno.Properties.Settings>
            <setting name="dark_mode" serializeAs="String">
                <value>False</value>
            </setting>
          <setting name="data_source" serializeAs="String">
            <value />
          </setting>
          <setting name="initial_catalog" serializeAs="String">
            <value />
          </setting>
          <setting name="admin" serializeAs="String">
            <value>False</value>
          </setting>
          <setting name="active_user" serializeAs="String">
            <value />
          </setting>
        </ensueno.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>